{% extends 'plapp/base.html' %}

{% load pleft_tags %}
{% load i18n %}

{% block media %}
  {{ form.media }}
{% endblock %}

{% block pageid %}home{% endblock %}

{% block title %}
  <h1>{% trans "Plan an appointment" %}</h1>
{% endblock %}

{% block content %}

<div class=side-help>
	<p>This appointment planner helps you to find the right date and time for your appointments. Propose a few dates and let the invitees choose when they’re available.</p>
</div>

<div class=appointment>
  <h2>{% trans "Appointment" %}</h2>
  <form id=create>
    {% for field in form %}
      <div class=field>
        {% if field.field.widget.is_date_time_picker %}
          <p>{{ field.label_tag }}:
          {{ field }}
        {% else %}
          <dl>
            <dt>
              {% if not field.field.widget|is_checkbox %}
                {{ field.label_tag }}:
              {% endif %}
            <dd>
              {{ field }}
              {% if field.field.widget|is_checkbox %}
                {{ field.label_tag }}
              {% endif %}
            <dd class=help>{{ field.help_text }}
          </dl>
          <div class=error></div>
        {% endif %}
      </div>
    {% endfor %}
    <div class=field id=button-block>
      <p><button>{% trans "Send invitations " %}</button>
      <div class=error></div>
    </div>
  </form>
</div>

<div id=status><p></p></div>
{% endblock %}
